@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

.newMemberBox-class {
  padding: 0.3125rem; /* Equivalent to Tailwind p-[5px] */
  border-radius: 0.4375rem; /* Equivalent to Tailwind rounded-[7px] */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Equivalent to Tailwind gap-2 */
  background-color: #dedede;
}

.newMemberPhoto-class {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.newMemberName-class {
  font-size: 13px;
  font-weight: bold;
}

.newMemberDeleteButton-class {
  font-size: 13px;
  font-weight: medium;
}